@media only screen and (min-device-width:376px) {

body {
  margin: 0 auto;
  padding: 0;
  display: block;
  background-color:#d3f8d3;
}

html {
  margin: 0 auto;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 50%;
  padding-top: 20px;
  margin-right:150px;
}

h1 {
  font-family: Tahoma;

}

h2 {
  font-family: Arial;
  font-size: 30px;
  color: #1a1a1a;
  padding-left: 100px;
}

label {
  font-family: Arial;
  font-size: 20px;
  color: #1a1a1a;
  float: left;
  clear: left;
  width: 95px;
  display: inline-block;
  padding-right: 7px;
}

.sign-up-field-line label {
  width: 100px;
  margin-bottom: 5px;
}

.login-field-line label {
  margin-bottom: 5px;
}

.confirm-msg {
  margin-bottom: 30px;
}

.confirm-buttons {
  position: relative;
  right: 80px;
}

.add-coursename-field-line input {
  display: inline-block;
  width: 200px;
}

.add-coursename-field-line label {
  display: inline-block;
  width: 300px;
  float: left;
  text-align: right;
  margin-top: 5px;
}

.field-line label {
display: inline-block;
width: -9px;
margin-top: 7px;
white-space: nowrap;
margin-right: 0px;
}

.edit-course-buttons {
  margin-top: 90px;
  margin-left: 615px;
}

.field-line input {
  
 display: inline-block;
 margin-left: 91px;
 width: 22%;
 margin-right: 0px;
}

.add-student-field-line label {
  display: inline-block;
  width: 95px;
  float: left;
  clear: left;
  text-align: right;
  padding-right: 6px;
}

.add-student-field-line input {
  display: inline-block;
  width: 150px;
}

.edit-student-field-line label {
  display: inline-block;
  width: 95px;
  float: left;
  clear: left;
  text-align: right;
  padding-right: 6px;
}

.edit-student-field-line input {
  display: inline-block;
  width: 150px;
}

input {
  padding: 12px 15px;
  margin-bottom: 15px;
  display: inline-block;
  float: left;
  margin-left: 10px;
  margin-right: 480px;
}

input:focus {
  color: #778899;
}

.error-msg {
  text-align: center;
}

.login-error-msg {
  margin-right: 50%;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 30px;
    margin-left: 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.login-info {
  margin-left: 75px;
}

.sign-up-button {
  margin-top: 10px;
  margin-left: 10%;
  padding: 15px 15px;
  width: 25%;
  display: block;
}

.sign-up h2 {
  margin-left: 20px;
}

.signup-redirect, .login-redirect {
  margin-top: 20px;
  margin-left: 50px;

}



.signup-redirect {
  margin-top: 10px;
  margin-left: 0%;
}

.getting-started {
  text-align: center;
  font-size: 13;
}

.demo-account-info {
  margin-left: 0%;
}

.greeting {
  margin-top: 10px;
  font-family: Arial;
  font-size: 30px;
  color:#1a1a1a;
  text-align: center;
}

.login-button {
  margin-left: 11%;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
}

.login h2 {
  margin-left: 6%;
}

.login {
  margin-top: 10px;
}


.dashboard-links li {
  float: right;
  display: inline;
  padding-right: 10px;
  padding-top: 4px;
}

.dashboard-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.edit-course-nav-options ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.edit-course-nav-options li {
  float: right;
  display: inline;
  padding-right: 10px;
  padding-top: 4px;
}

.app-name {
  font-family: Palatino;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  color: black;
}

.student-app-name {
  font-family: Palatino;
  float: left;
  margin-top: 7px;
  margin-left: 10px;
  color: black;
}

.dashboard-links, .course-page, .add-course-nav-options, .edit-course-nav-options, .add-student-nav-options, .edit-student-nav-options, .nav-options {
  height:35px;
  background-color:beige;
  width:100%;
  border-bottom: solid black 2px;
  margin-bottom: 7px;
  padding-top: 7px;
}

.edit-student-nav-options li {
  display: inline;
  float: right;
  margin-left: 7px;
  margin-right: 10px;
  margin-top: -18px;
}

.add-course-nav-options li {
  display: inline;
  float: right;
  margin-right: 10px;
  margin-top: -10px;
}

.add-course-header {
  text-align: center;
}

.add-course {
  display: block;
  position: absolute;
  top:50px;
  left: -7px;
}

.edit-course-name {
  margin-left: 3%;
  margin-top: -30px;
}

.add-course-container {
  position: absolute;
  left: 23%;
}

.edit-course-back {
  margin-left: 30px;
  display: inline-block;
}

.add-student-back {
  margin-left: 30px;
  display: inline-block;
}

.edit-student-back {
margin-left: 30px;
display: inline-block;
background-color: red;
}

.edit-student-nav-options ul {
  list-style-type: none;
}

.nav-options li {
  display: inline;
  float: right;
  padding-left: 7px;
  padding-right: 10px;
}

.course-app-name {
  font-family: Palatino;
  float: left;
  margin-top: 0px;
  margin-left: 10px;
  color: black;
}

.course-page h1 {
  text-align: center;
  margin-top: 30px;
}

.studentList html {
  font-style: Arial;
  margin-left: 275px;
}

.student-button button {
  position: relative;
  left: 27%;
  display: inline;
}

.course-page h2 {
  margin-left: 560px
}

.studentList {
  margin-left: 220px;
}

.sign-up-field-line {
  margin-left: 70px;
}

.login-field-line {
  margin-left: 50px;
}

.student-info-box {
  position: absolute;
  left: 57%;
  transform: translateY(-25%);
  display: inline;
  box-sizing: border-box;
  border: 1px solid black;
  width: 42%;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding-bottom: 10px;
  margin-top: 5px;
  transition: 0.3s;
  background-color: beige;
  text-align: center;
}

.student-info-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.student-buttons {
  margin-right: 70px;
}

.nav-options ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.student-name h2 {
  text-align: center;
  margin-top: 10px;
}

.edit-course-nav-options ul {
  list-style-type: none;
  margin-left: 1275px;
}

.edit-course-nav-options li {
  padding-left: 7px;
  display: inline;
  float: right;
  padding-right: 10px;
  margin-top: -4px;
}


.add-student-nav-options ul {
  float: right;
  list-style-type: none;
  margin-top: -2px;
}
.add-student-nav-options li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
}

a {
  color: black;
  text-decoration: none;
  font-family: Palatino;
}

.add-coursename-field-line {
  text-align: center;
  margin-right: 100px;
}

.add-course-container button {
  margin-left: 325px;
  margin-top: 15px;
}

.info h1 {
  text-align: center;
  color: #1a1a1a;
  margin-left: 46px;
  margin: 0;
  padding-top: 40px;
}

.info {
  margin: 0 auto;
}

.info p {
  margin-left: 25%;
  margin-right: 25%;
  font-weight: bolder;
  text-align: center;
  font-style: Tahoma;
}

.main-info {
  margin-top: 40px;
}

.return-link {
  font-weight: bold;
  font-size: 16pt;
}

.return-link:hover {
  color: grey;
}

.return-link {
  text-align: center;
}


.courses {
  margin-left: 690px;
  margin-top: 0px;
}

.add-course-back {
  display: inline-block;
  margin-left: 840px;
  margin-top: 65px;
}


.dashboard-your-courses {
  text-align: center;
  margin-right: 100px;
}

.dashboard-your-courses h2 {
  color: #778899;
}

.bm-burger-button, .mobile-name, .course-header-mobile {
  display: none;
}

.delete-student, .edit-course-back, .add-student-back, .edit-student-back {
  background-color: red;
}

}

@media only screen and (max-device-width:375px) {
.pre {
  background-size: cover;
  height: 100%;
  text-align: center;
}

.info {
  padding-left: 5%;
  padding-right: 5%;
}

a {
  color: black;
  text-decoration: none;
  font-family: Palatino;
  font-weight: bolder;
}

.return-link a {
  font-size: 15pt;
}


a:active {
  color:white;
}

.info, .header {
  padding-top:10px;
}

label {
  margin: 0 auto;
  font-size:14pt;
  margin: 5px;
  display:block;
  text-align:left;
  margin-left: 17%;
}

.login-error-msg {
  margin-top: 15px;
}

input {
  margin: 0 auto;
  height:40px;
  display: block;
  width:65%;
}

.sign-up-button, .login-button {
  padding: 12px 0px;
  margin-top: 20px;
  font-size: 13pt;
  white-space: nowrap;
  width: 75%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
}

button {
  border: none;
  color: white;
  background-color: #4CAF50;
  white-space: nowrap;
  font-size: 13pt;
  padding: 12px;
  width: 75%;
}

.login-button {
  margin-bottom: 20px;
}

body, html .main {
  background-color:#d3f8d3;
  display: block;
  background-size: 100% 100%;
}

.main {
  background-size: cover;
  background-color:#d3f8d3;
}

.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 20px;
    left: 15px;
    top: 10px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-cross-button {
  right: 100px !important; 
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  background-color: #EDECE5;
  position: relative;
  width: 70%;
}


.bm-burger-bars {
  background: gray;
}

.greeting, .getting-started, .dashboard-links, .add-course-nav-options, .course-name, .edit-course-name, .course-app-name, .nav-options,
.edit-course-nav-options, .add-student-nav-options, .student-app-name, .student-name {
  display: none;
}

.edit-course-form button {
  margin: 5px 22%;
  width: 50%;
}

.course-page h2 {
  text-align: center;
  padding-top: 60px; 
}

.studentList {
 text-align: center;
}

.student-info-box {
  background-color: #EEECE6;
  padding-top: 10px;
  margin-top: 20px;
  margin-left: 15px;
  padding-bottom: 30px;
  width:90%;
  border: 2px solid black;
}

.container {
  padding-top: 30px;
}

.edit-student {
  margin-bottom: 10px;
}

.submitForm {
  padding-top: 30px;
}

.field-line {
  margin-bottom: 15px;
}

.add-student, .add-student-back {
  text-align: center;
  margin: 7px;
}

.delete-student, .edit-course-back, .add-student-back, .edit-student-back {
  background-color: red;
}

.edit-student-buttons {
  margin: 5px 22%;
  width: 75%;
  margin-top: 15px;
}

.add-student-field-line {
  margin-top: 5px;
}

.modal-container {
  text-align: center;
  margin-bottom: 35px;
}

.modal-container button {
  margin: 7px;
}

 div.confirm-buttons > button:nth-child(2) {
  background-color: red;
 }

.ReactModal__Content--after-open {
  background-color: beige !important;
}


.modal-container h2 {
  font-family: Helvetica;
  text-align: center;
}


.dashboard-your-courses {
  text-align: center;
  padding-top:40px;
}

.courseList {
  text-align: center;
}

.mobile-header {
  height: 40px;
  background-color: #26C0FF;
  width: 100%;
  padding: 0;
  position: fixed;
}

html, body {
  padding: 0 auto;
  margin: 0;
  background-color:#d3f8d3;
}

.mobile-name {
  font-style: Helvetica;
  opacity: .5;
  margin-top: 0;
  font-weight: bold;
  padding-top: 10px;
  font-size: 14pt;
  text-align: right;
  margin-right: 5px;
}

.add-student-buttons {
  margin: 7px 20%;
  width: 75%;
  margin-top: 10px;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  display: block;
  outline: none;
  font-size: 13pt;
  margin-left: 50px;
  margin-bottom: 5px;
  color: gray;
  float: right;
  font-family: Helvetica;
  white-space: nowrap;
}

.add-coursename-field-line {
  margin-bottom: 23px;
}

.add-course-form button {
  display: inline-block;
  width: 50%;
  margin: 5px 22%;
}

.add-course-back {
  background-color: red;
}

}
