@media only screen and (min-device-width:376px) {

body {
  margin: 0 auto;
  padding: 0;
  display: block;
  background-color:#d3f8d3;
}

html {
  margin: 0 auto;
  padding: 0;
}

.container {
 
}

h1 {
  font-family: Tahoma;
  text-align: center;
}

h2 {
  font-family: Arial;
  font-size: 30px;
  color: #1a1a1a;
  text-align: center;
}

label {
  font-family: Arial;
  font-size: 20px;
  color: #1a1a1a;
  display: inline-block;
}

.sign-up-field-line label, .login-field-line label, .add-coursename-field-line label, .field-line label, .add-student-field-line label, .edit-student-field-line label {
  width: 45%;
  margin: auto;
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
}

.login-field-line input, .sign-up-field-line input, .add-coursename-field-line input, .field-line input, .add-student-field-line input, .edit-student-field-line input {
  height: 30px;
}

.add-student-buttons {
  margin-left: 43%;
  margin-top: 30px;
}

.edit-student-buttons {
  margin-left: 42%;
  margin-top: 30px;
}

.edit-student-buttons button {
  margin-left: 25px;
}

.container {
  margin-top: 30px;
}

a {
  cursor: pointer;
}

input:focus {
  color: #778899;
}

.error-msg {
}

.login-error-msg {
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    height: 45px;
}

.courseList button {
  width: 15%;
  margin-left: 42%;
}

.edit-course-buttons {
  margin-top: 20px;
  width: 15%;
  margin-left: 44%;
}

.edit-course-buttons button {
  margin-left: 20px;
}

.login-info {
}

.sign-up-button, .login-button {
  height: 45px;
  width: 11%;
  margin: auto;
  margin-top: auto;
  margin-left: auto;
  margin-left: 44%;
  margin-top: 30px;
}

.student-buttons button, .confirm-buttons button {
  margin-left: 15px;
}

.confirm-buttons {
  margin-left: 25%;
  margin-top: 10px;
}

.confirm-buttons button {
  width: 20%;
}

.sign-up h2 {
}

.signup-redirect, .login-redirect {
  text-align: center;
  margin-top: 20px;
}

.course-app-name {
  display: none;
}

.mobile-header {
  display: none;
}

.signup-redirect {
}

.getting-started {
  text-align: center;
  font-size:13px;
}

.demo-account-info {
  text-align: center;
}

.greeting {
  font-family: Arial;
  font-size: 30px;
  color:#1a1a1a;
  text-align: center;
  margin-top: 10px;
}

.login h2 {
}

.login {
}


li {
  display: inline-block;
  float: right;
  margin-left: 10px; 
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

.dashboard-links, .add-course-links, .course-links, .edit-course-links, .add-student-links, .edit-student-links {
  height: 40px;
  position: relative;
}

.course-links ul {
 left: 67%;
}

.add-course-links ul {
 left: 84%; 
}

.edit-course-nav-options ul {
  
}

.edit-course-nav-options li {
  
}

.app-name {
  font-family: Palatino;
  color: black;
}

.student-app-name {
  font-family: Palatino;
  color: black;
  position: absolute;
  vertical-align: middle;
  top: 20%;
  margin-left: 10px;
}

.dashboard-links, .add-student-links, .course-links, .add-course-links, .edit-course-links, .edit-course-nav-options, .edit-student-links {
  background-color:beige;
  border-bottom: solid black 2px;
}

.edit-course-links ul {
  left: 86%;
}
.add-student-links li, .dashboard-links li, .course-links li, .add-course-links li, .edit-course-links li, .edit-student-links li {
display: inline-block;
margin-left: 10px;
float: right;
margin-top: 7px;
}

.add-student-links ul, .dashboard-links ul, .course-links ul, .add-course-links ul, .edit-course-links ul, .edit-student-links ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  margin-right: 10px;
}

.nav-options {
  display: none;
}

.edit-student-nav-options li {
  
}

.add-course-nav-options li {
  
}

.add-course-header {
  text-align: center;
}

.add-course {
  margin-left: 50%;
}

.edit-course-name {
  
}

.add-course-container button {
  margin-left: 30px;
  margin-top: 25px;
  width: 11%;
}

.button-container {
  margin: auto;
  margin-left: 37%;
}

.edit-course-back {

}

.add-student-back {
  margin-left: 30px;
  display: inline-block;
}

.edit-student-back {
background-color: red;
}

.edit-student-nav-options ul {
  list-style-type: none;
}

.course-app-name {
  font-family: Palatino;
  float: left;
  color: black;
}

.course-page h1 {
  text-align: center;
}

.studentList html {
  font-style: Arial;
}

.student-button {
  margin-left: 46%;
}

.course-page h2 {
}

.studentList {
}

.sign-up-field-line {
}

.login-field-line {
  
}

.student-info-box {
  position: absolute;
  left: 57%;
  transform: translateY(-25%);
  display: inline;
  box-sizing: border-box;
  border: 1px solid black;
  width: 42%;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding-bottom: 10px;
  margin-top: 5px;
  transition: 0.3s;
  background-color: beige;
  text-align: center;
}

.student-info-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.student-buttons {
  
}

.nav-options ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.student-name h2 {
  
}

.edit-course-nav-options ul {
  
}

.edit-course-nav-options li {
  
}


.add-student-nav-options ul {
  
}
.add-student-nav-options li {
  
}

a {
  color: black;
  text-decoration: none;
  font-family: Palatino;
}

.add-course-container button {
}

.info h1 {
  color: #1a1a1a;
  text-align: center;
  margin-top: 20px;
}

.info {
  
}

.info p {
  font-weight: bolder;
  text-align: center;
  font-style: Tahoma;
  margin-left: 25%;
  margin-right: 25%;
}

.main-info {
  margin-top: 40px;
}

.return-link {
  font-weight: bold;
  font-size: 16pt;
  text-align: center;
}

.return-link:hover {
  color: grey;
}

.return-link {
}


.courses {
}

.add-course-back {
}


.dashboard-your-courses {
}

.dashboard-your-courses h2 {
  color: #778899;
}

.bm-burger-button, .mobile-name, .course-header-mobile {
  display: none;
}

.delete-student, .edit-course-back, .add-student-back, .edit-student-back, .add-course-back {
  background-color: red;
}

div.confirm-buttons > button:nth-child(2) {
  background-color: red;
 }

}

@media only screen and (max-device-width:375px) {
.pre {
  background-size: cover;
  height: 100%;
  text-align: center;
}

.info {
  padding-left: 5%;
  padding-right: 5%;
}

a {
  color: black;
  text-decoration: none;
  font-family: Palatino;
  font-weight: bolder;
}

.return-link a {
  font-size: 15pt;
}


a:active {
  color:white;
}

.info, .header {
  padding-top:10px;
}

label {
  margin: 0 auto;
  font-size:14pt;
  margin: 5px;
  display:block;
  text-align:left;
  margin-left: 17%;
}

.login-error-msg {
  margin-top: 15px;
}

input {
  margin: 0 auto;
  height:40px;
  display: block;
  width:65%;
}

.sign-up-button, .login-button {
  padding: 12px 0px;
  margin-top: 20px;
  font-size: 13pt;
  white-space: nowrap;
  width: 75%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
}

h1 {
  text-align: center;
}

button {
  border: none;
  color: white;
  background-color: #4CAF50;
  white-space: nowrap;
  font-size: 13pt;
  padding: 12px;
  width: 75%;
}

.login-button {
  margin-bottom: 20px;
}

body, html .main {
  background-color:#d3f8d3;
  display: block;
  background-size: 100% 100%;
}

.main {
  background-size: cover;
  background-color:#d3f8d3;
}

.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 20px;
    left: 15px;
    top: 10px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-cross-button {
  right: 100px !important; 
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  background-color: #EDECE5;
  position: relative;
  width: 70%;
}


.bm-burger-bars {
  background: gray;
}

.greeting, .getting-started, .dashboard-links, .add-course-nav-options, .course-name, .edit-course-name, .course-app-name, .nav-options,
.edit-course-nav-options, .add-student-nav-options, .student-app-name, .student-name {
  display: none;
}

.menu ul {
  list-style-type: none;
}

.edit-course-form button {
  cursor: pointer;
  margin: 5px 22%;
  width: 50%;
}

.course-page h2 {
  text-align: center;
  padding-top: 60px; 
}

.studentList {
 text-align: center;
}

.student-info-box {
  background-color: #EEECE6;
  padding-top: 10px;
  margin-top: 20px;
  margin-left: 15px;
  padding-bottom: 30px;
  width:90%;
  border: 2px solid black;
}

.container {
  padding-top: 30px;
}

.edit-student {
  margin-bottom: 10px;
}

.submitForm {
  padding-top: 10px;
}

.field-line {
  margin-bottom: 15px;
}

.add-student, .add-student-back {
  text-align: center;
  margin: 7px;
}

.delete-student, .edit-course-back, .add-student-back, .edit-student-back {
  background-color: red;
}

.edit-student-buttons {
  margin: 5px 22%;
  width: 75%;
  margin-top: 15px;
}

.add-student-field-line {
  margin-top: 5px;
}

.modal-container {
  text-align: center;
  margin-bottom: 35px;
}

.modal-container button {
  margin: 7px;
}

 div.confirm-buttons > button:nth-child(2) {
  background-color: red;
 }

.ReactModal__Content--after-open {
  background-color: beige !important;
}


.modal-container h2 {
  font-family: Helvetica;
  text-align: center;
}


.dashboard-your-courses {
  text-align: center;
  padding-top:40px;
}

.courseList {
  text-align: center;
}

.mobile-header {
  height: 40px;
  background-color: #26C0FF;
  width: 100%;
  padding: 0;
  position: fixed;
}

html, body {
  padding: 0 auto;
  margin: 0;
  background-color:#d3f8d3;
}

.mobile-name {
  font-style: Helvetica;
  opacity: .5;
  margin-top: 0;
  font-weight: bold;
  padding-top: 10px;
  font-size: 14pt;
  text-align: right;
  margin-right: 5px;
}

.add-student-buttons {
  margin: 7px 20%;
  width: 75%;
  margin-top: 10px;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  display: block;
  outline: none;
  font-size: 13pt;
  margin-left: 50px;
  margin-bottom: 5px;
  color: gray;
  float: right;
  font-family: Helvetica;
  white-space: nowrap;
}

.add-coursename-field-line {
  margin-bottom: 23px;
}

.add-course-form button {
  display: inline-block;
  width: 50%;
  margin: 5px 22%;
}

.add-course-back {
  background-color: red;
}

button {
  cursor: pointer;
}

.course-links, .add-student-links {
  display:none;
}

.add-student-header {
  text-align: center;
  margin-top: 30px;
}

}
